<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Node.js News</title>
</head>

<body>
    <header class="header">
        <div class="header__logo">News</div>
        <div class="header__search">Search</div>
    </header>
    <div class="wrapper">
        <div class="news-single">
            <a href="/">&larr;- Back </a>
            <% if (article != null){ %>
                <h2><%- article.title.rendered %></h2>
                <p><%- article.content.rendered %></p>
            <% } else { %>
                No post found.
            <% } %>
        </div>
    </div>
</body>

</html>